# <html>
#   <head>
#     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
#   </head>
#   <body>
#     <h1>Welcome to education-elevation, <%= @user.first_name %></h1>
#     <p>
#       Thank you for your recent donation to the <%= @user.donations.last.program %> program.
#       You have donated   <%= @user.donations_sum %> and are a part of our <%= @user.donor_tier %> donor tier.<br>
#       Thank you for your support. 
#     </p>
#     <p>
#       To login to the site, just follow this link: <%= @url %>.
#     </p>
#     <p>Have a great day!</p>
#   </body>
# </html>